
.container {
    width: 960px;
    margin: 0 10% 0 10%;
}

html, body {
    background: url("../images/stripes.png");
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 77px;
    border-bottom: 2px solid #cccccc;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 75px;
    background-color: darkgray;
    text-align: center;
    width: 100%;
    border-top: 5px solid #4aaaa5;
    color: white;
}

.footer span {
    position: absolute;
    left:45%;
    bottom:0;
}

h1{
    position: absolute;
    left: 15%;
    padding: 20px 20px 20px 20px;
    margin: 0 0 0 0;
    color: white;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2{
    padding: 20px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.nav {
    position: absolute;
    right: 15%;
    padding: 30px 0 30px 30px;
    margin: 0 0 0 0;
}

.navLi {
    display: inline;
    border-width: 0px 5px 0 0;
}

a {
    padding: 10px;
    background-color: white;
    color: #777777;
}

a:hover {
    background-color: #4aaaa5;
}

.mainPageContent {
    background-color: #ffffff;
    position: absolute;
    top: 15%;
    right: 15%;
    left: 15%;
    border: 1px solid #dddddd;
    padding: 5px;
}

.hrDivider{
    width: 95%;
}

.mainUL {
    position: relative;
    left: 10%;
}
.imgMain {
    height: 300px;
    width: 200px;
    padding: 20px;
    margin: 0;
    float: left;
}

.img {
    position: relative;
    display:inline-block;
    margin: 1%;
}

h3 {
    position: absolute;
    top:200px;
    left:0;
    width:100%;
    padding: 20px 0 20px 0;
    margin: 0 0 0 0;
    color: white;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
}

form{
    padding: 10px;
}

label {
    float: left;
    margin-bottom:5px;
}

input {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

#message {
    height: 300px;
}

#submit {
    width: 10%;
}